body {  
    background-color: rgb(158, 128, 202); 
}  
.myDivExt {
  color: rgb(8, 8, 8);
  background-color: rgb(232, 152, 146);    
  text-align: right;
}
.divClass
{
	font: italic small-caps bolder 25px Georgia;
}

 h1
{
	margin-left: 50px;
}

